body {
  margin: 0;
  background: #eff7d3;
  background-image: url("https://images.hdqwalls.com/download/aerial-view-of-trees-4k-zy-1440x900.jpg");
  font-family: "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Hind", sans-serif;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #393939;
  text-decoration: none;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  background-color: #849561;
  padding: 0 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-bottom: var(--border);
}

/* <ul> */

.navbar-nav h1 {
  display: flex;
  justify-content: left;
  right: 1200px;
  bottom: 20px;

  color: #535a3b;

  font-weight: 550;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #849561;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: #535a3b;
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

::-webkit-scrollbar {
  width: 3px;
  height: 280px;
}

::-webkit-scrollbar-track-piece {
  background-color: #cedcc3;
  height: auto;
  border-radius: 25%;
}

::-webkit-scrollbar-thumb {
  background-color: #eff7d3;
  border-radius: 15%;
  height: 280px;
  border-style: ridge;
  outline: 2px solid #eff7d3;
  outline-offset: -2px;
  border: 0.7px solid #eff7d3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #eff7d3;
}

.dropdown {
  position: absolute;
  height: 300px;
  overflow-y: scroll !important;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: #849561;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  border: var(--border);
  border-radius: 8px 0px 0px 8px;
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  font-weight: 700;
  display: flex;
  color: #535a3b;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #cedcc3;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
  height: 550px !important;
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

/* Card styles */

.greetingCard {
  position: relative;
  font-weight: 100;
  right: 300px;
  background: #ecefd8;
  height: 100px;
  width: 450px;
  margin: 30px auto 10px auto;
  padding: 10px;
  border-radius: 7px;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.greetingCard h1 {
  font-weight: 200;
  color: #535a3b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.greetingCard p {
  position: relative;
  bottom: 20px;

  font-weight: 200;
  font-size: 1rem;
  color: #535a3b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.birdImg {
  display: inline-block;
  position: relative;
  font-weight: 600;
  color: #535a3b;
  top: 0px;
  background: #ecefd8;
  height: 400px;
  width: 425px;
  margin: 0px 4px 4px 20px;
  padding: 10px;
  border-radius: 7px;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.birdImg img {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  height: 90%;
  width: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.birdCard1 {
  display: inline-block;
  position: relative;
  font-weight: 600;
  color: #535a3b;
  top: 10px;
  background: #ecefd8;
  height: 135px;
  width: 425px;
  margin: 20px 4px 4px 20px;
  padding: 10px;
  border-radius: 7px;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.birdCard1 h1 {
  position: relative;

  bottom: 30px;
  font-weight: 500;
  color: #535a3b;
}

.birdCard1 p {
  position: relative;
  bottom: 55px;

  font-weight: 600;
  color: #535a3b;
}

.birdCard1 h5 {
  font-size: 1rem;
  position: relative;
  bottom: 75px;

  font-weight: 600;
  color: #535a3b;
}

.birdCard1 a {
  text-decoration: underline;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0px;
  left: 295px;

  font-weight: 700;
  color: #535a3b;
}

.birdCard1 a:hover {
  color: #4d96ff;
}
